.main-container {
    min-height: 100vh;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Cards **/

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin: 6rem 1.5rem;
    border-radius: .5rem;
    overflow: hidden;
}

.card {
    padding: 3.2rem;
}

.card:nth-child(1) {
    background-color: var(--bright-orange);
}

.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

/**  **/

.title {
    text-transform: uppercase;
    font-size: 40px;
    font-family: var(--font-family-big-shoulders-display);
    color: var(--very-light-gray);
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paragraphs {
    line-height: 1.8rem;
    font-family: var(--font-family-lexend-deca);
    font-weight: 400;
    color: var(--transparent-white);
}

/** Buttons **/

.button {
    display: inline-block;
    font-family: var(--font-family-lexend-deca);
    background-color: var(--very-light-gray);
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: .5rem;
    border: 2px solid var(--very-light-gray);
    cursor: pointer;
}

.card:nth-child(1) .button {
    color: var(--bright-orange);
}

.card:nth-child(2) .button {
    color: var(--dark-cyan);
}

.card:nth-child(3) .button {
    color: var(--very-dark-cyan);
}

.card .button:hover {
    background-color: transparent;
    color: var(--very-light-gray);
}

/** Desktop **/

@media screen and (min-width: 376px) {
    .cards {
        max-width: 900px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .card {
        padding: 3rem;
    }
    .button {
        margin-top: 3.5rem;
    }
}