.card {
    background-color: var(--dark-desaturated-blue);
    border-radius: 10px;
    overflow: hidden;
}

.card-body {
    padding: 2rem;
}
.card-header {
    height: 250px;
    background-image: url(/newbie/stats-preview-card-component-main/images/image-header-mobile.jpg);
    background-color: var(--soft-violet);
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}
.card-header--overlay {
    width: 100%;
    height: 100%;
    background-color: var(--soft-violet);
    opacity: .3;
}
.card-body--title {
    color: var(--white);
    font-size: var(--font-title);
    font-family: var(--inter);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 28px;
}
.card-body--title-span {
    color: var(--soft-violet);
}
.card-body--description {
    color: var(--slightly-transparent-white-75);
    font-family: var(--inter);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.8rem;
}
.stats {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}
.stats-item {
    text-align: center;
}
.stats-item--count {
    font-family: var(--inter);
    font-weight: 700;
    color: var(--white);
    font-size: 28px;
    margin-bottom: .5rem;
}
.stats-item--text {
    text-transform: uppercase;
    color: var(--slightly-transparent-white-60);
    font-family: var(--lexend-deca);
}

@media screen and (max-width: 1440px) and (min-width: 376px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr;
        grid-template-areas: "body img";
    }

    .card-header {
        grid-area: img;
        height: 100%;
    }

    .card-body {
        grid-area: body;
        padding: 4rem;
        padding-right: 8rem;
    }

    .card-body--title {
        font-size: 36px;
        text-align: left;
        margin-bottom: 2rem;
    }

    .card-body--description {
        text-align: left;
        margin-bottom: 4rem;
    }

    .stats {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1.5rem;
        justify-content: space-between;
    }
    
    .stats-item {
        text-align: left;
    }

}


@media screen and (min-width: 1440px) {

    .main-background::after {
        content: 'Breakpoints: 375px (mobile) and 1440px (desktop)';
        color: #fff;
        font-size: 5rem;
    }

    .card {
        display: none;
    }
}